/* Estilo geral */
body {
    background-color:rgb(199, 8, 189);
    font-family: Arial, sans-serif; 
    padding: 0;
}


.form-container {
    background-color: white; 
    padding: 20px;
    border-radius: 8px; 
    margin: 20px auto;
    max-width: 400px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    color: black; 

}
h2 {
    text-align: center;
    color: #6a0dad; 
}


label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    width: 100%; 
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color:rgb(199, 8, 189); 
    color: white; 
    cursor: pointer;
}

button:hover {
    background-color: rgb(199, 8, 189); 
}


a {
    color: #6a0dad;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Espaço para tabela de usuários */
#espacoTabela {
    margin-top: 20px;
    padding: 10px;
    background-color: white; /* Fundo branco */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
    color: black;
}

table {
    width: 100%; /* Tabela ocupa todo o espaço */
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd; /* Bordas leves */
    text-align: left;
}

thead {
    background-color: rgb(199, 8, 189);
}
